@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --blue: #3498db;
    --red: #e74c3c;
    --orange: #f39c12;
    --black: #333;
    --white: #fff;
    --light-bg: #eee;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    --border: 2px solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

body {
    background-color: var(--light-bg);
}

.message {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color: var(--black);
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

.btn,
.delete-btn,
.option-btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    color: var(--white);
    border-radius: 5px;
    text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--black);
}

.btn {
    background-color: var(--blue);
    margin-top: 10px;
}

.delete-btn {
    background-color: var(--red);
}

.option-btn {
    background-color: var(--orange);
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 70px;
}

.form-container form {
    width: 500px;
    border-radius: 5px;
    border: var(--border);
    padding: 20px;
    text-align: center;
    background-color: var(--white);
}

.form-container form h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--black);
}

.form-container form .box {
    width: 100%;
    border-radius: 5px;
    border: var(--border);
    padding: 12px 14px;
    font-size: 18px;
    margin: 10px 0;
}

.form-container form p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--black);
}

.form-container form p a {
    color: var(--red);
}

.form-container form p a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 20px;
    margin: 52px auto;
    max-width: 1200px;
    padding-bottom: 70px;
}

.container .heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--black);
}

.container .user-profile {
    padding: 20px;
    text-align: center;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
}

.container .user-profile p {
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--black);
}

.container .user-profile p span {
    color: var(--red);
}

.container .user-profile .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.container .products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.container .products .box-container .box {
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    position: relative;
    padding: 20px;
    background-color: var(--white);
    width: 350px;
    overflow: hidden;
}

.container .products .box-container .box img {
    height: 250px;
    width: 100%;
}

.container .products .box-container .box .name {
    font-size: 20px;
    color: var(--black);
    padding: 5px 0;
}

.container .products .box-container .box .price {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 25px;
}

.container .products .box-container .box input[type="number"] {
    margin: 10px 0;
    width: 100%;
    border: var(--border);
    border-radius: 5px;
    font-size: 20px;
    color: var(--black);
    padding: 12px 14px
}

.container .shopping-cart {
    padding: 20px 0;
}

.container .shopping-cart table {
    width: 100%;
    text-align: center;
    border: var(--border);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.container .shopping-cart table thead {
    background-color: var(--black);
}

.container .shopping-cart table thead th {
    padding: 10px;
    color: var(--white);
    text-transform: capitalize;
    font-size: 20px;
}

.container .shopping-cart table .table-bottom {
    background-color: var(--light-bg);
}

.container .shopping-cart table tr td {
    padding: 10px;
    font-size: 20px;
    color: var(--black);
}

.container .shopping-cart table tr td:nth-child(1) {
    padding: 0;
}

.container .shopping-cart table tr td input[type="number"] {
    width: 80px;
    border: var(--border);
    padding: 12px 14px;
    font-size: 20px;
    color: var(--black);
}

.container .shopping-cart .cart-btn {
    margin-top: 10px;
    text-align: center;
}

.container .shopping-cart .disabled {
    pointer-events: none;
    background-color: var(--red);
    opacity: .5;
    user-select: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    padding: 0px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
    z-index: 100;
}

.nav .logo {
    padding: 8px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

.nav {
    height: 50px;
}

.nav ul {
    margin-top: -16px;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}


/* footer */

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.footer-distributed {
    background: #666;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}